h1{
    color: teal;
    font-size: 39px;
    font-family: Verdana;
    font-weight: normal;
}

h2{
    color: teal;
    font-size: 20px;
    font-family: Verdana;
    font-weight: normal;
}

img {
    width: 500px;
    height: auto
}

.imageIcon {
    width: 20px;
    height:auto
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    font-family: Verdana;
}

dd {
    font-family: Verdana;
}

a {
    color: inherit;
    text-decoration: none;
}